body {
    background-color: #a4aab6;
}

#container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


#left-div {
    display: flex;
    width: 500px;
    height: 600px;
    align-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    background-image: url(pawel-czerwinski-Slf8QxaFIWw-unsplash.jpg);
    background-size: cover;

}

#right-div {
    display: flex;
    flex-direction: column;
    width: 500px;
    font-size: 10px;
    
}

.label-input {
    display: flex;
    flex-direction: column;
    width: 48%;
    font-size: 10px;
    margin-bottom: 2px;
}
:focus {
    outline: none;
    border: 2px solid #E5E7EB;
}
:invalid {
    border: 2px solid red;
}

#names-div, #mail-phone, #pw {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 1px;
    margin-bottom: 25px;
    
}

p {
    width: 50%;
}

button {
    width: 70%;
    height: 30px;
    margin: 25px;
    border: none;
    background-color: #2563EB;
    color: white;
    font-size: 16px;
    cursor: -webkit-zoom-out;
}